
<h1>
  Youtube Player
</h1>

<br>
<div>
  <youtube-player 
    videoId="GYAB4Td62zI" 
    suggestedQuality="highres" 
    [height]="200" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="182">
  </youtube-player>
  <youtube-player 
    videoId="0FH9cgRhQ-k" 
    suggestedQuality="highres" 
    [height]="200" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="824">
  </youtube-player>
</div>
<br>
<div>
  <youtube-player 
  videoId="GYAB4Td62zI" 
  suggestedQuality="highres" 
  [height]="200" 
  [width]="500" 
  [startSeconds]="4"
  [endSeconds]="182">
</youtube-player>
<youtube-player 
  videoId="0FH9cgRhQ-k" 
  suggestedQuality="highres" 
  [height]="200" 
  [width]="500" 
  [startSeconds]="4"
  [endSeconds]="824">
</youtube-player>
</div>
